<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/easion.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="../js/chart-js-config.js"></script>
    <title>Tiều đề</title>
</head>

<body>
    <div class="dash">
        <div class="dash-app">
            <main class="dash-content">
                <div class="container-fluid">
                    <h1 class="dash-title">Trang chủ / Liên hệ</h1>
                    <p class="mb-5">Danh sách vấn đề liên hệ.</p>
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                        <div class="col-lg-6">
                            <div class="card easion-card">
                                <div class="card-header">
                                    <div class="easion-card-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div class="easion-card-title"> 09765342666 </div>
                                    <div class="easion-card-menu">
                                        <div class="dropdown">
                                            <a class="easion-card-menu-link" href="javascript::void(0)" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdownMenuLink" x-placement="bottom-end"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 30px, 0px);">
                                                <a class="dropdown-item far fa-eye" href=""> Đánh dấu chưa đọc</a>
                                                <a class="dropdown-item far fa-trash-alt" href=""> Xóa bỏ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <h4><strong>Họ Và tên</strong></h4>
                                    <hr>
                                    <p> Đây là nội dung comment.</p>
                                    <hr>
                                    <p><strong>Email :</strong> <span>email@gmail.com</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card easion-card">
                                <div class="card-header bg-success text-white">
                                    <div class="easion-card-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div class="easion-card-title"> 09765342666 </div>
                                    <div class="easion-card-menu">
                                        <div class="dropdown">
                                            <a class="easion-card-menu-link" href="javascript::void(0)" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdownMenuLink" x-placement="bottom-end"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 30px, 0px);">
                                                <a class="dropdown-item far fa-eye" href=""> Đánh dấu chưa đọc</a>
                                                <a class="dropdown-item far fa-trash-alt" href=""> Xóa bỏ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <h4><strong>Họ Và tên</strong></h4>
                                    <hr>
                                    <p> Đây là nội dung comment.</p>
                                    <hr>
                                    <p><strong>Email :</strong> <span>email@gmail.com</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link fas fa-angle-double-left" href=""></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link fas fa-angle-left" href=""></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript::void(0)">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript::void(0)">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link fas fa-angle-right" href=""></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link fas fa-angle-double-right" href=""></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/easion.js"></script>
</body>

</html>